section {
    width: 100%;
    height: 100vh;
    background-color: var(--thirdColor);
    height: calc(100vh - 78px);
}

#login-form {
    background-color: var(--secondColor);
    margin: 0;
    color: white;
}

h2 {
    color: var(--firstColor);
    font-family: var(--firstFont);
}

.mb-3 {
    font-family: var(--firstFont);
    font-weight: bolder;
}

#btn {
    font-family: var(--firstFont);    
    width: 40%;
    background-color: var(--firstColor);
    border: none;
    color: black;
    font-size: 18px;
    border-bottom: 4px solid var(--firstColorDark);
}

#btn:hover {
    color: black;
    background-color: var(--firstColorDark);
}

#btn-register {
    font-family: var(--firstFont);    
    width: 50%;
    border: none;
    color: var(--firstColor);
    font-size: 18px;
    border: 3px solid var(--firstColor);
}

#btn-register:hover {
    border-bottom: 4px solid var(--firstColor);
}