.card-body {
    font-family: var(--firstFont);
    background-color: #cacaca;
}

.card-body h5 {
    font-size: 23px;
}

.card-body p {
    font-size: 20px;
}

#bt-seemore {
    width: 70%;
    background-color: var(--firstColor);
    border: none;
    color: black;
    font-size: 18px;
    border-bottom: 4px solid var(--firstColorDark);
}

#bt-seemore:hover {
    color: black;
    background-color: var(--firstColorDark);
}