#header {
    height: 78px;
    background-color: var(--secondColor);
}

.nav-link {
    padding: 17px 17px 15px 17px;
    font-size: 20px;
    color: var(--firstColor);
    font-family: var(--firstFont);
}

.nav-link:hover {
    color: var(--firstColor);
}

.nav-link img {
    text-align: center;
    width: 110px;
    height: auto;
    margin: 0 auto; 
}

#logo {
    padding: 0;
}