@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Patrick Hand", cursive;
  
  --firstFont: "Patrick Hand", cursive;
  --secondFont: "Kaushan Script", cursive;

  --firstColor: #f28732;
  --firstColorDark: #c46d26;
  --secondColor: #1b1c22;
  --thirdColor: #ececec;
  --secondColorLight: #333438;

}