@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Neucha", cursive;
  
  --firstFont: "Neucha", cursive;
  --secondFont: "Birthstone Bounce", cursive;

  
}